
#main {
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 20px 20px;
  color: black;
  background-color: red;
}

#input {
 padding-bottom: 0px;
}

#list {
	background-color:  #ffd480;
	color: black;
	padding: 0px 0px 5px 10px;
  margin: 50px 0px 0px 100px;
}

#noPadding {
	padding: 0px 0px;
}