@font-face {
    font-family: "Futura";
    src: url("fonts/futura.otf");
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "Futura";
}


#main {
  margin: 0px 0px 0px 40px;
  padding: 20px 0px 0px 20px;
  color: black;
  background-color:  #f2f2f2;
}

#input {
 padding-bottom: 0px;
}

#list {
	background-color:  red;
	color: white;
	padding: 5px 0px 20px 40px;
  margin: 60px 0px 0px 0px;
}

#noPadding {
	padding: 0px 0px;
}

.title {
    font-size: 4rem;
}

a {
    color: #F0E68C;
}
