
#main {
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 20px 20px;
  color: black;
  background-color: gainsboro;
}

#input {
 padding-bottom: 50px;
}

#list {
	background-color: black;
	color: white;
	padding: 0px 0px 5px 10px;
  margin: 0;
}

#noPadding {
	padding: 0px 0px;
}