
@font-face {
    font-family: "ReadyActive";
    src: url("fonts/ReadyActive-Light.otf");
}

* {
    font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle,rgba(161, 220, 236, 1) 0%, rgba(161, 220, 236, 1) 80%, #00afef);
}

#main {
    background: radial-gradient(circle,rgba(161, 220, 236, 1) 0%, rgba(161, 220, 236, 1) 80%, #00afef);
    margin: 100px 150px 0px 150px;
  /*padding: 20px 0px 0px 20px;*/
  color: white;
  /*background-color: #69cfff;*/
    font-size: 1.4rem;
}

#input {
 padding-bottom: 0px;
}


#noPadding {
	padding: 0px 0px;
}

.title {
    font-family: "ReadyActive";
    font-size: 6rem;
}

a {

    color: #F0E68C;
}


#submit {
/*    background-color: #4CAF50; */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.4rem;
    background-color: #C0C0C0;
    padding: 4px;
}


input[type=text], select {
    width: 60%;
    border: 2px solid #06C2EC;
    border-radius: 6px;
    font-size: 1.4rem;
    color: #C0C0C0;
}


#sketch-holder-poem{
    width: 100%;
    height: calc(100vh - 80px);
}

.container {
    display: flex;
    margin-left: 14px;
    height: 80px;
}

.item {
    /*border: 2px solid black;*/
    align-self: flex-end;
    color: #C0C0C0;
}

#header{
    font-size: 70px;
    font-family: "ReadyActive";
    text-shadow: 2px 3px 5px #C0C0C0;
}

#sketch-holder-cloud{
    position: fixed;
    width: 250px;
    height: 250px;
    right: 30px;
    bottom: 10px;

}

#poem-link p{
    position: fixed;
    bottom: 30px;
    right: 100px;
    font-size: 50px;
    font-family: "ReadyActive";
    color: SteelBlue;
}